<ion-tabs>

  <ion-tab-bar slot="bottom" color="#a6d9a7" style="background-color: rgba(139, 243, 75, 0.571);">
    <ion-tab-button tab="tab1" href="/tabs/tab1">
      <ion-icon aria-hidden="true" name="book-outline"></ion-icon>
      <ion-label>Book Appointment</ion-label>
    </ion-tab-button>
    <div> || </div>
    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <ion-icon aria-hidden="true" name="receipt-outline"></ion-icon>
      <ion-label>Show Bookings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
