
<ion-header >
  <ion-toolbar color="#a6d9a7" style="background-color: rgba(142, 220, 94, 0.808);">
    <ion-title>Book Appointment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #appointmentForm="ngForm" (ngSubmit)="bookAppointment(appointmentForm)">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text" name="name" ngModel required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Address</ion-label>
        <ion-textarea name="address" ngModel required></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Age</ion-label>
        <ion-input type="number" name="age" ngModel required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contact Details</ion-label>
        <ion-input type="text" name="contact" ngModel required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Symptoms</ion-label>
        <ion-textarea name="symptoms" ngModel required></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label>Doctor</ion-label>
        <ion-select name="doctor" ngModel required>
          <ion-select-option value="doctor1">Doctor 1</ion-select-option>
          <ion-select-option value="doctor2">Doctor 2</ion-select-option>
          <ion-select-option value="doctor3">Doctor 3</ion-select-option>
        </ion-select>
      </ion-item>

      <div style="width: 100%; height: 3px; padding-bottom: 10px;"></div>
      <ion-item>
        <ion-label>Select a date for Appointment</ion-label>
      </ion-item>

      <ion-item>
        <ion-datetime #datetime name="dateOfVisit" ngModel required>
        </ion-datetime>
      </ion-item>
    </ion-list>
    <div class="ion-padding">
      <ion-button type="submit" [disabled]="!appointmentForm.valid" expand="block" color="success">
        Book Appointment
      </ion-button>
    </div>
  </form>
</ion-content>