<div class="calculator">

  <input type="text" class="calculator-screen"  [value]="screenValue" disabled />

  <div class="calculator-keys">

    <button type="button" class="operator" (click)="handleButtonClick('+')" value="+">+</button>
    <button type="button" class="operator" (click)="handleButtonClick('-')" value="-">-</button>
    <button type="button" class="operator" (click)="handleButtonClick('*')" value="*">&times;</button>
    <button type="button" class="operator" (click)="handleButtonClick('/')" value="/">&divide;</button>

    <button type="button" value="7" (click)="handleButtonClick('7')">7</button>
    <button type="button" value="8" (click)="handleButtonClick('8')">8</button>
    <button type="button" value="9" (click)="handleButtonClick('9')">9</button>


    <button type="button" value="4" (click)="handleButtonClick('4')">4</button>
    <button type="button" value="5" (click)="handleButtonClick('5')">5</button>
    <button type="button" value="6" (click)="handleButtonClick('6')">6</button>


    <button type="button" value="1" (click)="handleButtonClick('1')">1</button>
    <button type="button" value="2" (click)="handleButtonClick('2')">2</button>
    <button type="button" value="3" (click)="handleButtonClick('3')">3</button>


    <button type="button" value="0" (click)="handleButtonClick('0')">0</button>
    <button type="button" class="decimal" value="." (click)="handleButtonClick('.')">.</button>
    <button type="button" class="all-clear" value="all-clear" (click)="handleButtonClick('clear')">AC</button>

    <button type="button" class="equal-sign" value="=" (click)="handleButtonClick('=')">=</button>

  </div>
</div>