/* src/components/CreateAccount.css */

.create-account-container {
  text-align: center;
  color: #333; /* Dark text color */
  background-color: #2c3e50; /* Deep blue background */
  padding: 20px;
  border-radius: 10px;
}

.create-account-container h2 {
  font-size: 36px;
  font-weight: bold;
  color: #FFD700; /* Gold heading color */
  margin-bottom: 20px;
}

.create-account-container label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  color: #FFD700; /* Gold label color */
}

.create-account-container input {
  width: 40%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.create-account-container button {
  margin: 0 10px;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  background-color: #FFD700; /* Gold button color */
  border: none;
  border-radius: 5px;
  color: #333; /* Dark text color */
  text-decoration: none;
  transition: background-color 0.3s;
}

.create-account-container button:hover {
  background-color: #B8860B; /* Darker gold on hover */
}

